@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Nunito", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f8ff;
}

.container-app {
  width: 50vw;
}

.title-app p {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  color: #646681;
  margin-top: 24px;
}

.header-app {
  display: flex;
  justify-content: space-between;
}

.container-content-app {
  display: flex;
  justify-content: center;
  background-color: #ecedf6;
  padding: 12px;
  margin-top: 16px;
  border-radius: 8px;
}

.empty-content-app p {
  margin: 0;
  background-color: #ecedf6;
  font-weight: bold;
}

.fill-content-app {
  width: 100%;
}

.container-fill-content-app {
  width: 100%;
  background-color: white;
  border-radius: 16px;
  padding: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.container-task-content-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-task-content-app p {
  margin: 0;
  font-weight: bold;
  margin-left: 8px;
  background-color: white;
}

.container-title-task {
  display: flex;
}

.container-action-task {
  display: flex;
}

.container-icon-task {
  padding: 8px;
  margin: 4px;
  background-color: #eeeeee;
  border-radius: 2px;
}

.icon-task {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #585858;
}

.progressbar-task {
  width: 120px;
}

.header-subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-expired {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px 4px 16px;
  border-radius: 4px;
  margin-right: 4px;
  background-color: rgb(255, 192, 192);
}

.container-expired p {
  margin: 0;
  color: salmon;
  background-color: transparent;
}

/* Small screens (up to 768px wide) */
@media (max-width: 768px) {
  .container-app {
    width: 90vw;
  }
}
